<!DOCTYPE html>
<html lang="en">

<head>
<title>Rapid Assessment Platform</title>  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


  <script>"https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.css"</script>
  <script>"https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.js"</script>
  <script>"https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.10/js/dataTables.checkboxes.min.js"</script>


  <script src="JS/fte.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/reference_css.css">
  <link rel="stylesheet" type="text/css" href="../css/Capture.css">
  <script src="../js/calculations.js"></script> 
  {{!-- <script src="../js/tablefilter.js"></script>  --}}

<script>
  
$(document).on('click','.selectAll', function(e){
  var table= $( this ).closest('table');
  table.find(':checkbox').not( this ).prop('checked',this.checked);
  
});

</script>

<script>
      $(document).ready(function(){
        $('#btnClear').click(function(){        
        $('#processes input[type="text"]').val('');
            $('#processes #myInput').val('');
            clientName2();
           businessunit2();
           subbusinessunit2();
           processname2();
           processid2();
           classification();
                  
        });
      });
    </script>

  <style>
    
input[type="text"]::placeholder {  
text-align: center; 
} 

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
} 
 input[type=text]:focus {
   width:100%;
 }

 #se{
  width: 100%;
  
  font-size: 13.8px;
   
  background-repeat: no-repeat;
  
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
} 
body{

background-color:rgb(247, 240, 240);
}
#example-select-all{
  color: white;
}


 

    
    
    #submit{
      padding-top: 5rem;
    }
  </style>
  

</head>
<body>
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            
              <img  class="navbar-brand" src="mphasis_logo.jpg">
            
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/user/adminHome">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Process Discovery<span class="caret"></span></a>
                 <ul class="dropdown-menu" role="menu">
                    <li><a href="/user/captureProcess"><b>Capture Process</b></a></li>
              <li><a href="/user/processViewById"><b>View Process</b></a></li>
              <li><a href="/user/approveProcess"><b>Approve Process</b></a></li>
              <li><a href="/user/list"><b>Process Prioritization</b></a></li>
                    
                    
                 </ul>
             </li>
                  <li><a href="/user/userManagement">User Management</a></li>
        <li><a href="/user/About">About</a></li>
        <li><a href="/user/Contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{viewtitle}}</a></li>
              <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <input type="hidden" name="Session_Name" value="{{viewtitle}}">
      <div class="jumbotron" id="cp">
        <div class="container text-center" >
        <h1 id="pc">Business Case</h1>
        <p>Process Details</p>
        
        </div>
      </div>
      
       <div class="text-right">
             <button  type="button" onclick="goBack()" class="btn btn-success">Back</button>  
             
      
      <input type="button" class="btn btn-success" id="btnClear" value="Clear Search"/>
      
          </div>
         
 <center> <font color="red">{{viewtitle}}</font></center>
<div id="allign">
  {{!-- <input type="text" name="search" placeholder="Search.."id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name"> --}}
  {{!--   <input type="text" name="search" placeholder="Search by client name"  onkeyup="myFunction()" >  --}}

 <form action="/user/addSelectedProcess"+Proc_Id method="POST">

     <div class="row">
        {{!-- <div class="panel panel-primary filter"> --}}
            {{!-- <div class="panel-heading">
                <h3 class="panel-title"></h3>
                
            </div> --}}
    
    <div class="table-responsive">
      
        <table class="table" id="processes">
          <thead>

             <tr>
              <th>
                 
                <input type="text" class="fa-fa-search" id="myInput" onKeyup="clientName2()" text-align="center" placeholder="Search" title="Type in a name" > 
                   
                 
                 
              </th>
               <th>
            
                <input type="text" class="fa-fa-search" id="businessunitinput" onkeyup="businessunit2()" text-align="center" placeholder="Search" title="Type in a business unit"> 
                   {{!-- <span class="glyphicon glyphicon-search"></span> --}}
              </th>

              <th>
                <input type="text" class="fa-fa-search" id="subbusinessunitinput" onkeyup="subbusinessunit2()" text-align="center"  placeholder="Search" title="Type in a sub business unit"> 
                   
              </th>
              <th>
                <input type="text" class="fa-fa-search" id="processnameinput" onkeyup="processname2()" text-align="center" placeholder="Search" title="Type in a process name"> 
                   
              </th>
              <th>
                <input type="text" class="fa-fa-search" id="processidinput" onkeyup="processid2()" text-align="center" placeholder="Search" title="Type in a process id"> 
                   
              </th>
              <th>
                <input type="text" class="fa-fa-search" id="classificationinput" onkeyup="classification()" text-align="center" placeholder="Search" title="Type in a classification">
                   
              </th>
              <th>
              <label id="se">Select All <input type="checkbox" class="selectAll" id="example-select-all"></label>
              </th>
              </tr>
      
            <tr>
              <th scope="col">Client Name</th>
              <th scope="col">Business Unit</th>
              <th scope="col">Sub Business Unit</th>
              <th scope="col">Process Name</th>
              <th scope="col">Process Id</th>
              <th scope="col">Classification</th>
              <th scope="col">Select process</th>
            </tr>
          </thead>
          <tbody>
              {{#each list}}
            <tr>
              <td>{{this.clientName}}</td>
              <td>{{this.Buss_Unit}}</td>
              <td>{{this.Sub_Buss_Unit}}</td>
             <td>{{this.Proc_Name}}</td>
             <td>{{this.Proc_Id}}</td>
              <td>{{this.Classification}}</td>
             <td> <input type="checkbox" class='list-item' name="Selected_Process" value="{{this.Proc_Id}},{{this.Sub_Buss_Unit}},{{this.Proc_Name}},{{this.clientName}},{{this.Buss_Unit}},{{this.Classification}}"></td>
            </tr>
           {{/each}}
          </tbody>
        </table>
       
        
      </div>
      <div align="center" id="submit">
         
      <button  type="submit" class="btn btn-success">Submit</button>
     
      </div>
      </div>
      
      </form>
    </div>
    
  </form>
  
  </div>
  
</body>
</html> 