<!DOCTYPE html>
<html lang="en">

<head>
<title>Rapid Assessment Platform</title>  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="JS/fte.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/reference_css.css">
  <link rel="stylesheet" type="text/css" href="../css/Capture.css">
  
<script src="../js/calculations.js"></script>
<script src="../js/exportpdf.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            
              <img  class="navbar-brand" src="mphasis_logo.jpg">
            
          </div>
           <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/user/Home">Home</a></li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Process Discovery<span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
              <li><a href="/user/CaptureProcess"><b>Capture Process</b></a></li>
              <li><a href="/user/viewProcessList"><b>View Process</b></a></li>
              <li><a href="/user/approveProcess"><b>Approve Process</b></a></li>
              <li><a href="/user/list"><b>Process Prioritization</b></a></li>
              <li><a href="/user/uploadDownload"><b>Upload/Download Process</b></a></li>
              
              
           </ul>
       </li>
 
 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Process Flow<span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
              <li><a href="/user/captureProcessFlow"><b>Capture Process Flow</b></a></li>
              <li><a href="/user/viewWorkflow"><b>View Process Flow</b></a></li>
              
              
           </ul>
       </li>


         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Business Case & Roadmap<span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
              <li><a href="/user/listbusiness"><b>Select</b></a></li>
              <li><a href="/user/viewEffortList"><b>View</b></a></li>
              
              
           </ul>
       </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User Management<span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
             <li><a href="/user/userManagement"><b>User Management Home</b></a></li>
              <li><a href="/user/register"><b>Create User</b></a></li>
              <li><a href="/user/userList"><b>View Users</b></a></li>
              
              
           </ul>
       </li>
        {{!-- <li><a href="/user/userManagement">User Management</a></li> --}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Configuration Details<span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
             <li><a href="/user/fetchConfigurationDetails"><b>Automation Anywhere</b></a></li>
              <li><a href="/user/fetchConfigurationDetails2"><b>UiPath</b></a></li>
              <li><a href="/user/fetchConfigurationDetails3"><b>Pega Robotics</b></a></li>
              <li><a href="/user/fetchConfigurationDetails4"><b>Blue Prism</b></a></li>
             
              
              
           </ul>
       </li>
        <li><a href="/user/About">About</a></li>
        <li><a href="/user/Contact">Contact</a></li>
        
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{viewtitle}}</a></li>
        <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
        </div>
      </nav>
      
      <div class="jumbotron" id="cp">
        <div class="container text-center" >
        <h1 id="pc">Process Prioritization</h1>
        <p>View Data Points for Process Prioritizaion</p>
        
        </div>
      </div>
  <div class="text-right">
          
          
                
            <button type="button" onclick="goBack()" class="btn btn-success">Back</button>  
        
          </div>


 
 <div class="container">
  <div class="row">
    <div class="col-sm-6"> 
      <img src="quadrant_view.jpg" class="image-fluid img-thumbnail" alt="Responsive image" style="height:75%%">
    </div>
    <div class="col-sm-6"> 
     
     <div class="row">
       <p><b>QUICK WINS:</b> Processes that are very good candidates for automation. 
         These processes are characterized by high volumes, well defined rules and 
         simple systems or applications. These should be considered for implementation 
         in the early stages of automation journey.</p>
     </div>
      <br>
      <br>
     <div class="row">
        <p><b>BIG BETS:</b> Processes that offer the highest ROI if automated correctly. 
          These processes are characterized by high volumes as well as high complexity.
          These processes should be considered once the organization reaches higher levels 
          of automation maturity.</p>
     </div>
      <br>
      <br>
     <div class="row">
       <p><b>LOW HANGING FRUITS:</b> Processes that should be considered for pilots and PoC 
         to kickstart automation journey. Typically organizations also chalk out 
         strategies for CoE setup and Enablement  after the Pilots are completed.</p>
     </div>
      <br>
      <br>
     <div class="row">
       <p><b>DEFER :</b> Processes that are very low volume and/or Ad-Hoc in nature leading 
         to increased implementation complexity. Should not be considered until a 
         viable business case.</p>
     </div>

   </div>
  </div>
 </div>

<div class="container-fluid bg-3 text-center">  

<div align="center">

{{!-- <div class="row"> --}}
  {{!-- <div class="col-sm-6"> --}}
  
  <form name="formdata" class="form-horizontal someFormClass" id="someDynamicId" action="/user/showTable" method="POST">

<label>Choose a Client:</label><br>

<select name="client_name" style="width: 200px;">
 <option disabled selected value> -- select an option -- </option>
 {{#each client_list}} 

  <option>{{this.clientName}}</option>


{{/each}}
 </select><br><br>
 <button class="btn btn-success" type="submit" name="submit" id="someId">Select</button>
 </form>
 </div><br>
 {{!-- </div> --}}
  {{!-- <div class="col-sm-6"> 
  <form action="/user/showTable" method="post">

  <label>Client Name:</label>
  <input type="text-center"  class="form-control" placeholder="Client Name" maxlength="30" name="Client_Name" value="{{clientname}}" readonly>

                    <a href="/user/list"><b>Do you want to change the client name?</b></a><br><br>
                    

<label>Choose a Business Unit:</label>

 <select id="second-choice1" name="Business_Unit">
   <option disabled selected value> -- select an option -- </option>
   
   {{#each Business_list}} 
  <option>{{this.Buss_Unit}}</option>
  {{/each}}
</select><br><br>

  <button type="submit" class="btn btn-success">Submit</button>
 
</form>

</div> --}}
{{!-- </div> --}}


{{!-- <div class="row">
        <div class="col-sm-6">
      
        <label>Client Name:</label>
      
      
        <input type="text-center"  class="form-control" placeholder="Client Name" maxlength="30" name="clientName" value="{{client}}" readonly>
      </div>
    
    <div class="col-sm-6">
    
        <label for="lname">Business Unit:</label>
      
      
        <input type="text-center" class="form-control"  maxlength="30" placeholder="Business Unit" value="{{businessunit}}" readonly>
     
    </div>
    </div>




</div>
</div> 
<div align="center">
   <a href="/user/list"><b>Do you want to change the client name?</b></a><br>
</div><br><br><br>
    --}}
   
    <div class="table-responsive table-sm" id="pptzn">
        <table class="table table-sm" border="2" align="center">
          <thead>
            <tr class="danger">
               <th scope="col"><h5><b>Client Name</b></h5></th>
              <th scope="col"><h5><b>Business Unit</b></h5></th>
              <th scope="col"><h5><b>Process Name</b></h5></th>
              <th scope="col"><h5><b>Process Id</b></th>
              <th scope="col"><h5><b>Monthly Volume</b></h5></th>
              <th scope="col"><h5><b>AHT(min)</b></h5></th>
              <th scope="col"><h5><b>FTE</h5></b></th>
              <th scope="col"><h5><b>Automation Potential</b></h5></th>
              <th scope="col"><h5><b>FTE Benefit</b></h5></th>
              <th scope="col"><h5><b>Implementation Complexity</b></h5></th>
              <th scope="col"><h5><b>Quadrant</b></h5></th>
              <th scope="col"><h5><b>Ranking</b></h5></th>
            </tr>
          </thead>
          <tbody>
              {{#each client_table}}
            <tr>
               <td><h5>{{this.clientName}}</h5></td>
              <td><h5>{{this.Buss_Unit}}</h5></td>
              <td><h5>{{this.Proc_Name}}</h5></td>
              <td><h5>{{this.Proc_Id}}</h5></td>
              <td><h5>{{this.Mon_Vol}}</h5></td>
             <td><h5>{{this.AHT}}</h5></td>
             <td><h5>{{this.FTE}}</h5></td>
             <td><h5>{{this.AP_Perc}}</h5></td>
             <td><h5>{{this.FTE_Benefit}}</h5></td>
             <td><h5>{{this.Classification}}</h5></td>
             <td><h5>{{this.Quadrant}}</h5></td>
             <td><h5>{{this.Ranking}}</h5></td>
            </tr>
           {{/each}}
           
          </tbody>
        </table>
      </div> <br>
       <div align="center"> 
       <input type="button" class="btn btn-success"  value="Download as PDF" 
            id="btPrint" onclick="createPDF2()" />
        </div><br><br>
      
      
    
    
    
            
            
          
          
          
          
          
  
  
</body>
</html> 