<!DOCTYPE html>
<html lang="en">

<head>
<title>Opportunity Finder</title>  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="JS/fte.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/reference_css.css">
  <link rel="stylesheet" type="text/css" href="../css/Capture.css">
  <script src="../js/calculations.js"></script>
  <script src="../js/edit.js"></script>
{{!-- <script>
$(document).ready(function()
{
 $('#btnEdit').click(function()
 {
   $('#sit').prop('readonly', false);  
 });

 });
</script> --}}
<style>
  #bt{
    padding-left: 48rem;
  }
</style>




</head>
<body>
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            
              <img  class="navbar-brand" src="mphasis_logo.jpg">
            
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/user/adminHome">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Process Discovery<span class="caret"></span></a>
                 <ul class="dropdown-menu" role="menu">
                  <li><a href="/user/captureProcess"><b>Capture Process</b></a></li>
              <li><a href="/user/processViewById"><b>View Process</b></a></li>
              <li><a href="/user/approveProcess"><b>Approve Process</b></a></li>
              <li><a href="/user/processPrioritization"><b>Process Prioritization</b></a></li>
                    
                    
                 </ul>
             </li>
            <li><a href="/user/userManagement">User Management</a></li>
        <li><a href="/user/About">About</a></li>
        <li><a href="/user/Contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="jumbotron" id="cp">
        <div class="container text-center" >
        <h1 id="pc">Capture Process</h1>
        <p>Capture Process Related Details</p>
        
        </div>
      </div>
<center><font color="green"><h1>{{viewtitle}}</h1></font></center>
<div class="text-right">
          
          
                
             <button type="button" onclick="goBack()" class="btn btn-success">Back</button>  
        
          </div>
<div class="container" id="abc">
    <div class="row">
        <div class="col-md-6">
    
  <form action="/user/updateDetailsTwo" method="POST">
    <div class="row">
      <div class="col-20">
        <label for="fname">21. Process ID</label>
      </div>
      <div class="col-75">
        <input type="text-center"  class="form-control" name="Proc_Id" value="{{secprocess.Proc_Id}}" readonly>
      </div>
    </div>


    <div class="row">
      {{!-- <div class="col-20">
        <label for="fname">clientName</label>
      </div> --}}
      <div class="col-75">
        <input type="hidden"  class="form-control" name="clientName" value="{{list.clientName}}" readonly>
      </div>
    </div>


    <div class="row">
      {{!-- <div class="col-20">
        <label for="fname">BusinessUnit</label>
      </div> --}}
      <div class="col-75">
        <input type="hidden"  class="form-control" name="Buss_Unit" value="{{list.Buss_Unit}}" readonly>
      </div>
    </div>


    <div class="row">
      {{!-- <div class="col-20">
        <label for="fname">SBU</label>
      </div> --}}
      <div class="col-75">
        <input type="hidden"  class="form-control" name="Sub_Buss_Unit" value="{{list.Sub_Buss_Unit}}" readonly>
      </div>
    </div>

    <div class="row">
      {{!-- <div class="col-20">
        <label for="fname">ProcessName</label>
      </div> --}}
      <div class="col-75">
        <input type="hidden"  class="form-control" name="Proc_Name" value="{{list.Proc_Name}}" readonly>
      </div>
    </div>
    <div class="row">
      <div class="col-20">
        <label for="fname">22. Number of applications involved in the process</label>
      </div>
      <div class="col-75">
        <input type="text-center"  class="form-control" id="na" name="Num_of_apps" onkeypress="return isNumberKey(event)" value="{{secprocess.Num_of_apps}}"  readonly>
      </div>
    </div>
    <div class="row">
      <div class="col-20">
        <label for="lname">23. Number of mainframe applications involved</label>
      </div>
      <div class="col-75">
        <input type="text-center" id="nm" class="form-control" name="Num_of_mainframe" onkeypress="return isNumberKey(event)"  value="{{secprocess.Num_of_mainframe}}"  readonly>
      </div>
    </div>
    <div class="row">
      <div class="col-20">
        <label for="country">24. Number of applications to be accessed through Citrix</label>  
      </div>
      <div class="col-75">
        <input type="text-center" class="form-control" id="nc" name="Num_of_Citrix" onkeypress="return isNumberKey(event)"  value="{{secprocess.Num_of_Citrix}}"  readonly>
      </div>
    </div>
    <div class="row">
        <div class="col-20">
          <label for="country">25. Are there any 3rd Party Sites involved  in the process</label>  
        </div>
        <div class="col-75">
           <select id="tps" class="form-control" name="Third_party_sites">
                
                <option>{{secprocess.Third_party_sites}}</option>
                <option id="21" value="Yes" disabled>Yes</option>
                     <option id="22" value="No" disabled>No</option>
                     
                
                     
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-20">
          <label for="country">26. Number of Screens involved in the process
</label>  
        </div>
        <div class="col-75">
          <input type="text-center" id="ns" class="form-control"  maxlength="30" name="Num_of_scrs" onkeypress="return isNumberKey(event)" value="{{secprocess.Num_of_scrs}}"  readonly>
        </div>
      </div>
    <div class="row">
      <div class="col-20">
        <label for="subject">27. Number of  process steps
</label>
      </div>
      <div class="col-75">
        <input id="subject" class="form-control" id="np" name="Num_of_proccessteps" onkeypress="return isNumberKey(event)" value="{{secprocess.Num_of_proccessteps}}"  readonly>
      </div>
    </div>
    <div class="row">
        <div class="col-20">
          <label for="country">28. Number of Exceptions/alternate scenarios
</label>  
        </div>
        <div class="col-75">
            <input type="number-center" class="form-control" id="ne" onkeypress="return isNumberKey(event)"    name="Num_of_Scenarios" value="{{secprocess.Num_of_Scenarios}}"  readonly/>
        </div>
      </div>
      <div class="row">
        <div class="col-20">
          <label for="country">29. Number of Decision points involved in the process
</label>  
        </div>
        <div class="col-75">
            <input type="number-center" class="form-control" id="nd"  onkeypress="return isNumberKey(event)" name="Num_of_Decpoints" value="{{secprocess.Num_of_Decpoints}}"  readonly/>
        </div>
      </div>
      <div class="row">
        <div class="col-20">
          <label for="country">30. Number of Standard Input Template
</label>  
        </div>
        <div class="col-75">
            <input type="number-center" id="sit" class="form-control" name="Num_of_standardinput" onkeypress="return isNumberKey(event)" value="{{secprocess.Num_of_standardinput}}"  readonly>
        </div>
      </div>
      <div class="row">
        <div class="col-20">
          <label for="sla">31. Interaction with Dynamic Table
</label>
        </div> 
        <div class="col-75">
          <select id="dt" class="form-control"  name="Intr_dynamic_table">
                
                <option>{{secprocess.Intr_dynamic_table}} </option>
                <option value="Yes"  id="23" disabled>Yes</option>
                     <option value="No" id="24" disabled>No</option>
                
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-20">
          <label for="fname">32. Number of Dynamic\Ajax based controls
</label>
        </div>
        <div class="col-75">
            <input type="number-center"  id="nda" class="form-control"  step="any" maxlength="30" name="Num_of_basedcontrols" onkeypress="return isNumberKey(event)" value="{{secprocess.Num_of_basedcontrols}}"  readonly>
        </div>
      </div>
      
    </div>
    
    <div class="col-md-6">
    
      <div class="row">
          <div class="col-20">
            <label for="lname">33. Number of Access Profile to cover
</label>
          </div>
          <div class="col-75">
            <input  class="form-control" id="nap" type="text-center"   name="Num_of_accessprofile" onkeypress="return isNumberKey(event)" value="{{secprocess.Num_of_accessprofile}}"  readonly>
          </div>
        </div>
        <div class="row">
            <div class="col-20">
              <label for="country">34. Number of Browser Support
</label>  
            </div>
            <div class="col-75">
            <input  class="form-control" id="nbs" type="text-center"  name="Num_of_browsersupp" onkeypress="return isNumberKey(event)" value="{{secprocess.Num_of_browsersupp}}"  readonly>
          </div>
          </div>
          <div class="row">
              <div class="col-20">
                <label for="country">35. Operational stability of the applications and how often is it changed?</label>  
              </div>
              <div class="col-75">
                      <select class="form-control" id="os"  name="Operation_stability">
                              
                              <option>{{secprocess.Operation_stability}}</option>
                              <option id="25" value="Planned Downtime" disabled>Planned Downtime</option>
                              <option id="26" value="Once in a month" disabled>Once in a month</option>
                              
                             </select>
              </div>
            </div>
          <div class="row">
            <div class="col-20">
              <label for="subject">36. Frequency of business process Change</label>
            </div>
            <div class="col-75">
                  <select id="fbc" class="form-control" name="Freq_change">
                          
                          <option>{{secprocess.Freq_change}}</option>
                      <option id="27" value="Frequently" disabled>Frequently</option>
                      <option id="28" value="Infrequently" disabled>Infrequently</option>

                      
                     </select>
            </div>
          </div>
          <div class="row">
              <div class="col-20">
                <label for="country">37. Service Level Agreement of the process?</label>  
              </div>
              <div class="col-75">
                      <select  class="form-control" id="sa" name="Svc_lvl_agr">
                              
                              <option>{{secprocess.Svc_lvl_agr}}</option>
                          <option id="29" value="Less than 8 hrs" disabled>Less than 8 hrs</option>
                          <option id="30" value="Less than or equal to 24 hrs" disabled>Less than or equal to 24 hrs</option>
                          <option id="31" value="More than 24 hrs" disabled>More than 24 hrs</option>

                          
                         </select>
              </div>
            </div>
            <div class="row">
              <div class="col-20">
                <label for="country">38. Number of Business User to Get Sign-off
</label>  
              </div>
              <div class="col-75">
                      <input  class="form-control" id="nob" type="text-center"  name="Num_of_getsignoff" onkeypress="return isNumberKey(event)" value="{{secprocess.Num_of_getsignoff}}"  readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-20">
                <label for="country">39. Number of Business Team Required for Environment Set-up
</label>  
              </div>
              <div class="col-75">
                      <input  class="form-control" type="text-center" id="nbt" name="Num_of_Envsetup" onkeypress="return isNumberKey(event)" value="{{secprocess.Num_of_Envsetup}}"  readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-20">
                <label for="sla">40. Funtional Point ( Ease of Implementation) X- Axis</label>
              </div>
              <div class="col-75">
                      <input class="form-control" id="fp" type="number-center" name="Func_point"  value="{{secprocess.Func_point}}"  readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-20">
                <label for="sla">41. Monthly effort Savings (Y AXIS)
</label>
              </div>
              <div class="col-75">
                      <input class="form-control" id="mes" type="number-center" name="Monthly_effsaving" value="{{secprocess.Monthly_effsaving}}"  readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-20">
                <label for="sla">42. Effort (#pm)
</label>
              </div>
              <div class="col-75">
                      <input class="form-control" id="ef" type="number-center"  name="Effort" value="{{secprocess.Effort}}"  readonly>
              </div>
            </div>

             <div class="row">
              <div class="col-20">
                <label for="sla">43. Quadrant

</label>
              </div>
              <div class="col-75">
                      <input class="form-control" id="Qu" type="number-center"  name="Quadrant" value="{{secprocess.Quadrant}}"  readonly>
              </div>
            </div>
            
            
          </div>
          </div>
          <div class="button-center" id="bt">
          <input id="btnEdit" class="btn btn-success" type="button" value="Edit">

          
                
            <input type="submit" class="btn btn-success" value="submit">
        
          </div>
          </div>
          
             
          
        </div>
        </div>
          
  </form>
  <!-- </div>
  
</div>

<footer class="text-center">
    <div>
        <a href="Processdiscovery.html">
            <input type="submit" class="btn btn-success" value="Submit"> 
        </a>
        </div>
  </footer>
</body>
</html> -->